*{
    color:whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}
body{
    background-color: #150E28;
max-width: 100%;
}
.myNav{
    display: flex;
    flex-direction: row;
}
.title{
margin-left: 100px;
font-weight: bolder;
font-size: x-large;
color: #fff;


}
.title>span{
    color: #D434FE;
    font-size: x-large;
}
#Timeline, #Overview, #FAQs, #Contact, #Register{
    margin-right: 5%;
    color:#fff
}
#Timeline{
    margin-left: 30%;
}
#Register{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    margin-top: 15px;
    background-image: linear-gradient(
        90deg,
        #fe34cc,
        #8722a0
    );
    border-radius: 3px;
    margin-left:3% ;
    border:none;
}
#Contact{
    color: #D434FE;
}
.contact{
    position: relative;
    width: 100%;
}
.address{
    position: absolute;
    width: 40%;
    left:10%;
    margin-top: 6%;
}
.form{
    position: absolute;
    width: 40%;
    right: 15%;
    margin-top: 2%;
    display: grid;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.2);
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #2e0c36;
    padding-right: none;
    padding-left: none;
}
.form>input{
    background-color:inherit;
    outline: none;
    width: 60%;
    height: 30px;
    margin-top: 3%;
    border: 0.5px solid whitesmoke;
    padding-left: 1%;
    margin-left: 18%;

}
#message{
    background-color: inherit;
    outline: none;
    width: 60%;
    height: 100px;
    margin-top: 3%;
    margin-left: 18%;
    resize: none;
    padding-left: 1%;
}
.form>input::placeholder{
    color: white;
    font-size: smaller;
}
#message::placeholder{
    color: white;
    font-size: smaller;
    margin-left: 15%;
}
#submit{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    margin-top: 15px;
    background-image: linear-gradient(
        90deg,
        #fe34cc,
        #8722a0
    );
    border: none;
    border-radius: 3px;
    margin-left:3% ;
    width: 30%;
    margin-left: 33%;
}
#form-title{
    margin-left: 18%;
    color: #D434FE;
    font-size: larger;
}
#getInTouch{
    font-size: x-large;
    color: #D434FE;
    font-weight: bolder;
}
#share{
    color: #D434FE;
}
#bgFade-1{
    position: absolute;
    z-index: -2;
    width: 55%;
    left: -13%;
    top: -10%;
}
#bgFade-2{
    position: absolute;
    z-index:2;
    width: 35%;
    right: 0%;
    height: 70%;
    bottom: 0;
}
#star1{
    position: absolute;
    width: 0.8%;
    z-index: 2;
    left: 12%;
    margin-top: 4%;
}
#star2{
    position: absolute;
    width: 1.1%;
    z-index: 2;
    left: 44%;
    bottom: 22%;
}
#star3{
    position: absolute;
    width: 1.1%;
    z-index: 2;
    right: 10%;
    bottom: 15%;
}
#star4{
    position: absolute;
    width: 1.1%;
    z-index: 2;
    right: 15%;
    top: 12%;
}